<a href="https://colab.research.google.com/github/Syamkrishna123/ICTK_ML_AI_ASSIGNMENTS_AND_CASE_STUDIES/blob/main/Case_Study_03_Artificial_Neural_Network.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df= pd.read_csv("/content/drive/MyDrive/Colab Notebooks/dataset/mobile_price_classification.csv")
df.head()

,battery_power,bluetooth,clock_speed,dual_sim,front_cam,4G,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [4]:
df.shape

(2000, 21)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   battery_power   2000 non-null   int64
 1   bluetooth       2000 non-null   int64
 2   clock_speed     2000 non-null   float64
 3   dual_sim        2000 non-null   int64
 4   front_cam       2000 non-null   int64
 5   4G              2000 non-null   int64
 6   int_memory      2000 non-null   int64
 7   m_dep           2000 non-null   float64
 8   mobile_wt       2000 non-null   int64
 9   n_cores         2000 non-null   int64
 10  primary_camera  2000 non-null   int64
 11  px_height       2000 non-null   int64
 12  px_width        2000 non-null   int64
 13  ram             2000 non-null   int64
 14  sc_h            2000 non-null   int64
 15  sc_w            2000 non-null   int64
 16  talk_time       2000 non-null   int64
 17  three_g         2000 non-null   int64
 18  touch_screen    2000 non-null   int64
 19  wifi            2000 non-null   int64
 20  price_range     2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [6]:
df.describe()

,battery_power,bluetooth,clock_speed,dual_sim,front_cam,4G,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [7]:
data= df.drop('price_range',axis=1)
label=df['price_range']

In [8]:
data.columns

Index(['battery_power', 'bluetooth', 'clock_speed', 'dual_sim', 'front_cam',
       '4G', 'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'primary_camera',
       'px_height', 'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi'],
      dtype='object')

In [9]:
label.nunique()

4

In [42]:
data = data.values
data

array([[8.420e+02, 0.000e+00, 2.200e+00, ..., 0.000e+00, 0.000e+00,
        1.000e+00],
       [1.021e+03, 1.000e+00, 5.000e-01, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [5.630e+02, 1.000e+00, 5.000e-01, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       ...,
       [1.911e+03, 0.000e+00, 9.000e-01, ..., 1.000e+00, 1.000e+00,
        0.000e+00],
       [1.512e+03, 0.000e+00, 9.000e-01, ..., 1.000e+00, 1.000e+00,
        1.000e+00],
       [5.100e+02, 1.000e+00, 2.000e+00, ..., 1.000e+00, 1.000e+00,
        1.000e+00]])

In [13]:
label= label.values

In [44]:
label

array([1, 2, 2, ..., 3, 0, 3])

In [10]:
from sklearn.preprocessing import StandardScaler

In [11]:
scaler= StandardScaler()
data=scaler.fit_transform(data)
data

array([[-0.90259726, -0.9900495 ,  0.83077942, ..., -1.78686097,
        -1.00601811,  0.98609664],
       [-0.49513857,  1.0100505 , -1.2530642 , ...,  0.55964063,
         0.99401789, -1.01409939],
       [-1.5376865 ,  1.0100505 , -1.2530642 , ...,  0.55964063,
         0.99401789, -1.01409939],
       ...,
       [ 1.53077336, -0.9900495 , -0.76274805, ...,  0.55964063,
         0.99401789, -1.01409939],
       [ 0.62252745, -0.9900495 , -0.76274805, ...,  0.55964063,
         0.99401789,  0.98609664],
       [-1.65833069,  1.0100505 ,  0.58562134, ...,  0.55964063,
         0.99401789,  0.98609664]])

In [14]:
label = label.reshape(-1,1)

In [15]:
# now convert y labels to one hot encoder
from sklearn.preprocessing import OneHotEncoder
ohot = OneHotEncoder()
label = ohot.fit_transform(label)

In [12]:
label= pd.get_dummies(label)

In [13]:
label

      0  1  2  3
0     0  1  0  0
1     0  0  1  0
2     0  0  1  0
3     0  0  1  0
4     0  1  0  0
...  .. .. .. ..
1995  1  0  0  0
1996  0  0  1  0
1997  0  0  0  1
1998  1  0  0  0
1999  0  0  0  1

[2000 rows x 4 columns]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test,y_train,y_test= train_test_split(data,label, test_size=0.25, random_state=42)

In [18]:
X_train

array([[-1.65605439, -0.9900495 , -0.76274805, ...,  0.55964063,
        -1.00601811, -1.01409939],
       [-1.36013467,  1.0100505 , -0.51758998, ...,  0.55964063,
         0.99401789,  0.98609664],
       [-0.98682056, -0.9900495 , -0.88532709, ...,  0.55964063,
        -1.00601811,  0.98609664],
       ...,
       [ 1.34411631,  1.0100505 , -1.2530642 , ...,  0.55964063,
        -1.00601811,  0.98609664],
       [ 1.56719425, -0.9900495 , -0.76274805, ..., -1.78686097,
         0.99401789,  0.98609664],
       [-1.3737925 ,  1.0100505 , -1.13048516, ...,  0.55964063,
        -1.00601811, -1.01409939]])

In [52]:
X_train.shape

(1500, 20)

In [53]:
X_test.shape

(500, 20)

In [54]:
y_train.shape

(1500, 4)

In [55]:
y_test.shape

(500, 4)

In [15]:
from keras.models import Sequential
from keras.layers import Dense

In [16]:
model= Sequential()

In [17]:
model=Sequential()
model.add(Dense(8,activation='relu'))
model.add(Dense(6,activation='relu'))
model.add(Dense(4,activation='softmax'))

In [18]:
model.compile(loss='categorical_crossentropy',optimizer='Adam',metrics=['accuracy'])

In [19]:
history = model.fit(X_train,y_train,epochs=105,validation_data=(X_test,y_test),batch_size=64)

Epoch 1/105
24/24 [==============================] - 1s 11ms/step - loss: 1.4674 - accuracy: 0.2653 - val_loss: 1.4536 - val_accuracy: 0.2460
Epoch 2/105
24/24 [==============================] - 0s 3ms/step - loss: 1.4142 - accuracy: 0.2753 - val_loss: 1.4118 - val_accuracy: 0.2540
Epoch 3/105
24/24 [==============================] - 0s 3ms/step - loss: 1.3835 - accuracy: 0.2800 - val_loss: 1.3835 - val_accuracy: 0.2600
Epoch 4/105
24/24 [==============================] - 0s 3ms/step - loss: 1.3610 - accuracy: 0.3000 - val_loss: 1.3605 - val_accuracy: 0.2980
Epoch 5/105
24/24 [==============================] - 0s 3ms/step - loss: 1.3394 - accuracy: 0.3213 - val_loss: 1.3386 - val_accuracy: 0.3200
Epoch 6/105
24/24 [==============================] - 0s 4ms/step - loss: 1.3161 - accuracy: 0.3493 - val_loss: 1.3153 - val_accuracy: 0.3680
Epoch 7/105
24/24 [==============================] - 0s 4ms/step - loss: 1.2901 - accuracy: 0.3867 - val_loss: 1.2879 - val_accuracy: 0.4040
Epoch 8/105
24/24 [==============================] - 0s 3ms/step - loss: 1.2603 - accuracy: 0.4173 - val_loss: 1.2557 - val_accuracy: 0.4160
Epoch 9/105
24/24 [==============================] - 0s 4ms/step - loss: 1.2247 - accuracy: 0.4527 - val_loss: 1.2165 - val_accuracy: 0.4760
Epoch 10/105
24/24 [==============================] - 0s 3ms/step - loss: 1.1844 - accuracy: 0.4700 - val_loss: 1.1733 - val_accuracy: 0.4800
Epoch 11/105
24/24 [==============================] - 0s 3ms/step - loss: 1.1393 - accuracy: 0.4967 - val_loss: 1.1237 - val_accuracy: 0.5120
Epoch 12/105
24/24 [==============================] - 0s 3ms/step - loss: 1.0895 - accuracy: 0.5167 - val_loss: 1.0707 - val_accuracy: 0.5280
Epoch 13/105
24/24 [==============================] - 0s 4ms/step - loss: 1.0378 - accuracy: 0.5400 - val_loss: 1.0157 - val_accuracy: 0.5520
Epoch 14/105
24/24 [==============================] - 0s 4ms/step - loss: 0.9847 - accuracy: 0.5653 - val_loss: 0.9642 - val_accuracy: 0.5680
Epoch 15/105
24/24 [==============================] - 0s 3ms/step - loss: 0.9324 - accuracy: 0.5820 - val_loss: 0.9138 - val_accuracy: 0.5820
Epoch 16/105
24/24 [==============================] - 0s 3ms/step - loss: 0.8830 - accuracy: 0.6047 - val_loss: 0.8665 - val_accuracy: 0.6040
Epoch 17/105
24/24 [==============================] - 0s 3ms/step - loss: 0.8359 - accuracy: 0.6247 - val_loss: 0.8242 - val_accuracy: 0.6260
Epoch 18/105
24/24 [==============================] - 0s 4ms/step - loss: 0.7929 - accuracy: 0.6413 - val_loss: 0.7822 - val_accuracy: 0.6520
Epoch 19/105
24/24 [==============================] - 0s 3ms/step - loss: 0.7527 - accuracy: 0.6773 - val_loss: 0.7459 - val_accuracy: 0.6660
Epoch 20/105
24/24 [==============================] - 0s 4ms/step - loss: 0.7151 - accuracy: 0.6993 - val_loss: 0.7103 - val_accuracy: 0.6900
Epoch 21/105
24/24 [==============================] - 0s 4ms/step - loss: 0.6801 - accuracy: 0.7227 - val_loss: 0.6784 - val_accuracy: 0.7040
Epoch 22/105
24/24 [==============================] - 0s 3ms/step - loss: 0.6474 - accuracy: 0.7440 - val_loss: 0.6476 - val_accuracy: 0.7200
Epoch 23/105
24/24 [==============================] - 0s 3ms/step - loss: 0.6168 - accuracy: 0.7720 - val_loss: 0.6205 - val_accuracy: 0.7340
Epoch 24/105
24/24 [==============================] - 0s 10ms/step - loss: 0.5887 - accuracy: 0.7927 - val_loss: 0.5936 - val_accuracy: 0.7460
Epoch 25/105
24/24 [==============================] - 0s 3ms/step - loss: 0.5614 - accuracy: 0.8087 - val_loss: 0.5701 - val_accuracy: 0.7660
Epoch 26/105
24/24 [==============================] - 0s 3ms/step - loss: 0.5362 - accuracy: 0.8273 - val_loss: 0.5455 - val_accuracy: 0.7800
Epoch 27/105
24/24 [==============================] - 0s 3ms/step - loss: 0.5123 - accuracy: 0.8393 - val_loss: 0.5232 - val_accuracy: 0.8040
Epoch 28/105
24/24 [==============================] - 0s 3ms/step - loss: 0.4899 - accuracy: 0.8440 - val_loss: 0.5042 - val_accuracy: 0.8040
Epoch 29/105
24/24 [==============================] - 0s 4ms/step - loss: 0.4694 - accuracy: 0.8593 - val_loss: 0.4856 - val_accuracy: 0.8300
Epoch 30/105
24/24 [==============================] - 0s 3ms/step - loss: 0.4494 - accuracy: 0.8687 - val_loss: 0.4666 - val_accuracy: 0.8280
Epoch 31/105
24/24 [==============================] - 0s 3ms/step - loss: 0.4316 - accuracy: 0.8727 - val_loss: 0.4495 - val_accuracy: 0.8380
Epoch 32/105
24/24 [==============================] - 0s 3ms/step - loss: 0.4134 - accuracy: 0.8787 - val_loss: 0.4362 - val_accuracy: 0.8440
Epoch 33/105
24/24 [==============================] - 0s 3ms/step - loss: 0.3970 - accuracy: 0.8893 - val_loss: 0.4205 - val_accuracy: 0.8500
Epoch 34/105
24/24 [==============================] - 0s 3ms/step - loss: 0.3807 - accuracy: 0.8967 - val_loss: 0.4064 - val_accuracy: 0.8600
Epoch 35/105
24/24 [==============================] - 0s 3ms/step - loss: 0.3666 - accuracy: 0.9007 - val_loss: 0.3924 - val_accuracy: 0.8700
Epoch 36/105
24/24 [==============================] - 0s 3ms/step - loss: 0.3525 - accuracy: 0.9027 - val_loss: 0.3798 - val_accuracy: 0.8720
Epoch 37/105
24/24 [==============================] - 0s 3ms/step - loss: 0.3391 - accuracy: 0.9053 - val_loss: 0.3680 - val_accuracy: 0.8760
Epoch 38/105
24/24 [==============================] - 0s 3ms/step - loss: 0.3266 - accuracy: 0.9080 - val_loss: 0.3568 - val_accuracy: 0.8800
Epoch 39/105
24/24 [==============================] - 0s 3ms/step - loss: 0.3146 - accuracy: 0.9133 - val_loss: 0.3444 - val_accuracy: 0.8780
Epoch 40/105
24/24 [==============================] - 0s 3ms/step - loss: 0.3033 - accuracy: 0.9107 - val_loss: 0.3357 - val_accuracy: 0.8880
Epoch 41/105
24/24 [==============================] - 0s 3ms/step - loss: 0.2926 - accuracy: 0.9227 - val_loss: 0.3244 - val_accuracy: 0.8860
Epoch 42/105
24/24 [==============================] - 0s 3ms/step - loss: 0.2829 - accuracy: 0.9220 - val_loss: 0.3156 - val_accuracy: 0.8900
Epoch 43/105
24/24 [==============================] - 0s 4ms/step - loss: 0.2738 - accuracy: 0.9247 - val_loss: 0.3086 - val_accuracy: 0.8920
Epoch 44/105
24/24 [==============================] - 0s 3ms/step - loss: 0.2651 - accuracy: 0.9280 - val_loss: 0.2997 - val_accuracy: 0.8920
Epoch 45/105
24/24 [==============================] - 0s 4ms/step - loss: 0.2569 - accuracy: 0.9280 - val_loss: 0.2931 - val_accuracy: 0.9000
Epoch 46/105
24/24 [==============================] - 0s 3ms/step - loss: 0.2502 - accuracy: 0.9287 - val_loss: 0.2878 - val_accuracy: 0.9040
Epoch 47/105
24/24 [==============================] - 0s 4ms/step - loss: 0.2425 - accuracy: 0.9307 - val_loss: 0.2799 - val_accuracy: 0.9080
Epoch 48/105
24/24 [==============================] - 0s 3ms/step - loss: 0.2343 - accuracy: 0.9353 - val_loss: 0.2734 - val_accuracy: 0.9040
Epoch 49/105
24/24 [==============================] - 0s 3ms/step - loss: 0.2282 - accuracy: 0.9373 - val_loss: 0.2680 - val_accuracy: 0.8980
Epoch 50/105
24/24 [==============================] - 0s 4ms/step - loss: 0.2222 - accuracy: 0.9400 - val_loss: 0.2641 - val_accuracy: 0.9040
Epoch 51/105
24/24 [==============================] - 0s 3ms/step - loss: 0.2165 - accuracy: 0.9427 - val_loss: 0.2580 - val_accuracy: 0.9060
Epoch 52/105
24/24 [==============================] - 0s 3ms/step - loss: 0.2106 - accuracy: 0.9453 - val_loss: 0.2544 - val_accuracy: 0.9100
Epoch 53/105
24/24 [==============================] - 0s 4ms/step - loss: 0.2055 - accuracy: 0.9440 - val_loss: 0.2498 - val_accuracy: 0.9100
Epoch 54/105
24/24 [==============================] - 0s 3ms/step - loss: 0.2006 - accuracy: 0.9453 - val_loss: 0.2458 - val_accuracy: 0.9080
Epoch 55/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1962 - accuracy: 0.9460 - val_loss: 0.2425 - val_accuracy: 0.9100
Epoch 56/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1911 - accuracy: 0.9453 - val_loss: 0.2389 - val_accuracy: 0.9140
Epoch 57/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1870 - accuracy: 0.9447 - val_loss: 0.2329 - val_accuracy: 0.9080
Epoch 58/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1827 - accuracy: 0.9487 - val_loss: 0.2313 - val_accuracy: 0.9140
Epoch 59/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1784 - accuracy: 0.9540 - val_loss: 0.2286 - val_accuracy: 0.9160
Epoch 60/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1754 - accuracy: 0.9487 - val_loss: 0.2230 - val_accuracy: 0.9240
Epoch 61/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1712 - accuracy: 0.9520 - val_loss: 0.2202 - val_accuracy: 0.9200
Epoch 62/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1674 - accuracy: 0.9540 - val_loss: 0.2185 - val_accuracy: 0.9200
Epoch 63/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1645 - accuracy: 0.9487 - val_loss: 0.2163 - val_accuracy: 0.9180
Epoch 64/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1613 - accuracy: 0.9520 - val_loss: 0.2115 - val_accuracy: 0.9220
Epoch 65/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1583 - accuracy: 0.9553 - val_loss: 0.2114 - val_accuracy: 0.9240
Epoch 66/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1542 - accuracy: 0.9573 - val_loss: 0.2083 - val_accuracy: 0.9260
Epoch 67/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1524 - accuracy: 0.9547 - val_loss: 0.2067 - val_accuracy: 0.9240
Epoch 68/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1481 - accuracy: 0.9560 - val_loss: 0.2033 - val_accuracy: 0.9260
Epoch 69/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1457 - accuracy: 0.9560 - val_loss: 0.2015 - val_accuracy: 0.9220
Epoch 70/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1423 - accuracy: 0.9560 - val_loss: 0.1984 - val_accuracy: 0.9280
Epoch 71/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1400 - accuracy: 0.9580 - val_loss: 0.1974 - val_accuracy: 0.9260
Epoch 72/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1382 - accuracy: 0.9600 - val_loss: 0.1932 - val_accuracy: 0.9300
Epoch 73/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1355 - accuracy: 0.9633 - val_loss: 0.1932 - val_accuracy: 0.9280
Epoch 74/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1321 - accuracy: 0.9640 - val_loss: 0.1883 - val_accuracy: 0.9320
Epoch 75/105
24/24 [==============================] - 0s 4ms/step - loss: 0.1295 - accuracy: 0.9653 - val_loss: 0.1902 - val_accuracy: 0.9240
Epoch 76/105
24/24 [==============================] - 0s 4ms/step - loss: 0.1286 - accuracy: 0.9627 - val_loss: 0.1850 - val_accuracy: 0.9340
Epoch 77/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1258 - accuracy: 0.9640 - val_loss: 0.1859 - val_accuracy: 0.9300
Epoch 78/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1237 - accuracy: 0.9660 - val_loss: 0.1831 - val_accuracy: 0.9300
Epoch 79/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1210 - accuracy: 0.9653 - val_loss: 0.1822 - val_accuracy: 0.9340
Epoch 80/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1189 - accuracy: 0.9660 - val_loss: 0.1808 - val_accuracy: 0.9360
Epoch 81/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1169 - accuracy: 0.9660 - val_loss: 0.1769 - val_accuracy: 0.9360
Epoch 82/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1149 - accuracy: 0.9673 - val_loss: 0.1774 - val_accuracy: 0.9380
Epoch 83/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1135 - accuracy: 0.9707 - val_loss: 0.1758 - val_accuracy: 0.9300
Epoch 84/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1117 - accuracy: 0.9693 - val_loss: 0.1758 - val_accuracy: 0.9360
Epoch 85/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1103 - accuracy: 0.9693 - val_loss: 0.1754 - val_accuracy: 0.9320
Epoch 86/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1085 - accuracy: 0.9700 - val_loss: 0.1715 - val_accuracy: 0.9340
Epoch 87/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1071 - accuracy: 0.9733 - val_loss: 0.1709 - val_accuracy: 0.9400
Epoch 88/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1057 - accuracy: 0.9740 - val_loss: 0.1708 - val_accuracy: 0.9400
Epoch 89/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1030 - accuracy: 0.9740 - val_loss: 0.1698 - val_accuracy: 0.9360
Epoch 90/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1014 - accuracy: 0.9747 - val_loss: 0.1680 - val_accuracy: 0.9420
Epoch 91/105
24/24 [==============================] - 0s 3ms/step - loss: 0.1005 - accuracy: 0.9753 - val_loss: 0.1678 - val_accuracy: 0.9420
Epoch 92/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0992 - accuracy: 0.9733 - val_loss: 0.1653 - val_accuracy: 0.9420
Epoch 93/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0973 - accuracy: 0.9747 - val_loss: 0.1642 - val_accuracy: 0.9420
Epoch 94/105
24/24 [==============================] - 0s 4ms/step - loss: 0.0967 - accuracy: 0.9800 - val_loss: 0.1636 - val_accuracy: 0.9400
Epoch 95/105
24/24 [==============================] - 0s 4ms/step - loss: 0.0949 - accuracy: 0.9760 - val_loss: 0.1638 - val_accuracy: 0.9460
Epoch 96/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0932 - accuracy: 0.9780 - val_loss: 0.1630 - val_accuracy: 0.9360
Epoch 97/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0922 - accuracy: 0.9767 - val_loss: 0.1629 - val_accuracy: 0.9400
Epoch 98/105
24/24 [==============================] - 0s 4ms/step - loss: 0.0909 - accuracy: 0.9773 - val_loss: 0.1593 - val_accuracy: 0.9400
Epoch 99/105
24/24 [==============================] - 0s 4ms/step - loss: 0.0898 - accuracy: 0.9753 - val_loss: 0.1602 - val_accuracy: 0.9420
Epoch 100/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0877 - accuracy: 0.9807 - val_loss: 0.1567 - val_accuracy: 0.9440
Epoch 101/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0869 - accuracy: 0.9793 - val_loss: 0.1557 - val_accuracy: 0.9460
Epoch 102/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0858 - accuracy: 0.9807 - val_loss: 0.1568 - val_accuracy: 0.9380
Epoch 103/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0842 - accuracy: 0.9787 - val_loss: 0.1547 - val_accuracy: 0.9400
Epoch 104/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0836 - accuracy: 0.9820 - val_loss: 0.1551 - val_accuracy: 0.9400
Epoch 105/105
24/24 [==============================] - 0s 3ms/step - loss: 0.0824 - accuracy: 0.9800 - val_loss: 0.1536 - val_accuracy: 0.9400

In [20]:
y_pred= model.predict(X_test)

16/16 [==============================] - 0s 2ms/step

In [26]:
y_pred

array([[9.9809253e-01, 1.9072032e-03, 2.4802321e-07, 8.0230729e-18],
       [8.3034451e-05, 9.7114565e-03, 9.9007463e-01, 1.3071827e-04],
       [1.5040630e-02, 9.8470575e-01, 2.5355152e-04, 6.9863697e-15],
       ...,
       [8.3878959e-08, 2.3218231e-06, 9.5555890e-01, 4.4438653e-02],
       [1.9430722e-14, 1.1741324e-15, 2.3323970e-04, 9.9976677e-01],
       [1.5087241e-01, 8.4864748e-01, 4.8014769e-04, 2.6416796e-12]],
      dtype=float32)

In [22]:
#lets do the inverse one hot encoding
pred = []
for i in range(len(y_pred)):
    pred.append(np.argmax(y_pred[i]))

In [25]:
test = []
for i in range(len(y_test)):
  test.append(np.argmax(y_test[i]))

KeyError: ignored

In [24]:
y_test

      0  1  2  3
1860  1  0  0  0
353   0  0  1  0
1333  0  1  0  0
905   0  0  0  1
1289  0  1  0  0
...  .. .. .. ..
765   1  0  0  0
1356  0  1  0  0
408   0  0  1  0
1614  0  0  0  1
694   0  1  0  0

[500 rows x 4 columns]